<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <style>

            #tbl_clients {
                border-collapse: collapse;
                width: 100%;
                border: 2px double darkblue;
                padding: 10px;
                margin-top: 10px;
                /*responsive width*/
                overflow-x: auto;

            }

            #tbl_clients td, #tbl_clients th {
                /*border: 1px solid black;*/

                padding: 15px;
                text-align: left;
                border-bottom: 1px solid #ddd;

            }

            #tbl_clients td {

                height: 50px;
                vertical-align: bottom;

            }

            #tbl_clients th {
                height: 50px;
                text-align: left;
            }

            #tbl_clients tr:hover {
                background-color: #f5f5f5
            }

            #tbl_clients tr:nth-child(even) {
                background-color: #f2f2f2
            }

            #tbl_clients th {
                background-color: #4CAF50;
                color: white;
            }

            #tbl_clients caption {
                caption-side: bottom;
            }

        </style>

    </head>
    <body>
        <?PHP $this->content(); ?>
    </body>
</html>