<?php
/**
 * Created by PhpStorm.
 * User: emilio
 * Date: 15/11/16
 * Time: 20:17
 */

echo "Route '/' | Controller : 'IndexController'";

debug($this->view->clientes);

?>

<div>


    <table id="tbl_clients">

        <caption>Clients</caption>

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>

        </tr>

        <?PHP foreach ($this->view->clientes as $cliente) : ?>

            <tr>
                <td><?PHP echo $cliente['id']; ?></td>
                <td><?PHP echo $cliente['name']; ?></td>
                <td><?PHP echo $cliente['email']; ?></td>
            </tr>

        <?PHP endforeach; ?>

    </table>

</div>

